
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-solid-main,
    .btn-solid-main:hover,
    .btn-outline-main:hover,
    .btn-solid-main:focus,
    .btn-outline-main:focus,
    .btn-solid-main:active{
    
    background-color: var(--bg-main-color) ;

    border: 1px solid var(--bg-main-color) !important;
    padding: .6rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6rem;
    color: var(--text-dark-color) !important;
    border-radius: var(--btn-border-radius);
    font-size: 1rem;
}

.btn-outline-main,
    
    .btn-outline-main:active
    {
    background-color: transparent !important;
    border: none;
    /* border: 1px solid var(--bg-main-color) !important; */
    padding: .6rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6rem;
    color: var(--text-main-color) !important;
    border-radius: var(--btn-border-radius);
    font-size: 1rem;

}
/* .btn-outline-main:hover{
    background-color: transparent !important;
    border: 1px solid var(--bg-main-color) !important;
    padding: .6rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6rem;
    color: var(--text-main-color) !important;
    border-radius: var(--btn-border-radius);
    font-size: 1rem;
} */

/* ============ login ================= */

