
.grid-head {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  /*======= head start===== */
.container{
    border: 1px solid var(--bg-button-color) !important;
    margin: 20px;
}
.grid-logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 15px;
    
}
.button-add{
    display: flex;
    justify-content: end;
    margin-left: 10px;
    font-size: 50px;
    background-color: var(--bg-white-color) !important;
    border: none;
}
.grid-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
/*======= head end ===== */

/* ====== body start ====== */
.grid-body{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-filter{
    display: flex;
    flex-direction: column;


}
.check{
    padding: 5px;
}
.check2{
    margin: 10px;
}
.fa-circle{
    margin-right: 7px;
}
.check button{
    color: var(--text-dark-color) !important; 
}
 .button1:hover,
.button1:focus{
    background-color: var(--bg-secondary-color) !important;
}
.button2:hover,
.button2:focus{
    background-color: var(--bg-third-color) !important;
}
.button3:hover,
.button3:focus{
    background-color: var(--bg-4th-color) !important;
}
.button4:hover,
.button4:focus{
    background-color: var(--bg-5th-color) !important;
}

.grid-note{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;

}

.img img{
    width: 20%;
}

.note-content{
    padding: 5px;
    margin: 5px;
}
.note-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px 10px 5px;
}
.note-type{
    display:flex;
    justify-content: end;
}

/* ==== body end =========== */

/* ========= adding note modal start ========== */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    background-color: #fefefe;
    border: none;
}

.close:hover,
.close:focus,
.add:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.add{
    background-color: #69665c ;

    border: 1px solid var(--bg-main-color) !important;
    padding: .6rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6rem;
    color: var(--text-white-color) !important;
    border-radius: var(--btn-border-radius);
    font-size: 1rem;
}
.adding{
    display: flex;
    justify-content: space-between;
}
.input-text{
    width: 100%;
    padding: 7px 17px;
    border: 2px solid #f4f3f3;
    border-radius: 4px;
    background-color: #f4f3f3;
    color: #5e5e5e;
    margin-bottom: 7px;
}
.input-desc{
    width: 100%;
    padding: 7px 17px;
    border: 2px solid #f4f3f3;
    border-radius: 4px;
    background-color: #f4f3f3;
    color: #5e5e5e;
    margin-bottom: 7px;
    resize: none;
}
.modal-flex{
    display: flex;
    flex-direction: column;
}

.modal-filter{
    display: flex;
    width: 50%;
}
.modal-filter button{
    width: 100% !important;
    cursor: pointer;
}

/* ========= adding note modal end ========== */

