:root{
    --text-main-color:#FFF9DE;
    --bg-main-color:#FFF9DE;

    --text-secondary-color:#D2CEFF;
    --bg-secondary-color:#D2CEFF;

    --text-third-color:#D1E5F7;
    --bg-third-color:#D1E5F7;

    --text-4th-color:#FFCECE;
    --bg-4th-color:#FFCECE;

    --text-5th-color:#DAF2D6;
    --bg-5th-color:#DAF2D6;

    --text-white-color:#fff;
    --bg-white-color:#fff;

    --text-dark-color:#111;
    --bg-dark-color:#111;

    --bg-button-color:#69665C;

    --input-color:#111;
    --bg-input-color:#777;
    --placeholder-color:#111;
    --input-border-color:#d4d4d4;
    --input-border-radius:8px;
    --input-height:3rem;
    --input-padding:1rem;

    --btn-border-radius:8px;
}